body {
  background-image: url("background-1462755_1920.jpg");
  font-family: "Amatic SC", cursive;
}

a {
  text-decoration: none;
  font-size: 60px;
}

a:active {
  color: pink;
}

h1 {
  width: 100%;
  height: 5%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.compatibility {
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input, .matchbtn, label {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  margin: 20px auto;
  padding-left: 5px;
  outline: none;
}

.matchbtn {
  background-color: red;
  color: white;
  font-size: 24px;
  height: 75px;
  width: 150px;
  font-family: "Amatic SC", cursive;
  outline: none;
}

label {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

.result {
  font-size: 36px;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

p {
  text-align: center;
  font-weight: 900;
}